%nav.navbar.navbar-light.navbar-expand-lg{:style => "background-color: #38b349; color: white"}
  = link_to 'Lohika', root_path, class: 'navbar-brand'
  .collapse.navbar-collapse
    .navbar-nav
      = link_to 'Users', users_path, class: 'nav-item nav-link'
